body {
    background-color: #000000;
    color: #fff;
    font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
    text-align: center;
}
p {
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
}
form {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
